
# Created by https://www.gitignore.io/api/vagrant

### Vagrant ###
.vagrant/
*.box

# End of https://www.gitignore.io/api/vagrant

# Created by https://www.gitignore.io/api/ansible

### Ansible ###
*.retry

# End of https://www.gitignore.io/api/ansible

# Created by https://www.gitignore.io/api/packer

### Packer ###
# Cache objects
packer_cache/

# For built boxes
*.box


# End of https://www.gitignore.io/api/packer
